<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <h1>Login</h1>
    <form th:method="post" role="form" th:action="@{login}">

            <label class="form-label">Email</label>
            <input class="form-control"
                   id="email"
                   name="username"
                   placeholder="Enter email"
                   type="text"
            />

            <label class="form-label">Password</label>
            <input class="form-control"
                   id="password"
                   name="password"
                   placeholder="Enter password"
                   type="password"
            />

             <button class="btn btn-primary" type="submit">Login</button>

    </form>
</body>
</html>